# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Model checkpoints (optional)
*.h5

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
logs/

# Temporary files
*.log
models/distilbert_model/
results/
config.py